
.mdl-datepicker-header h1, .mdl-datepicker-header h2, .mdl-datepicker-header h3, .mdl-datepicker-header h4, .mdl-datepicker-header h5 {
    color:#FFF;
}

.mdl-datepicker {
  padding: 0;
}

.mdl-datepicker .mdl-datepicker-header {
  background-color: #009762;
  color: #fff;
  padding: 1em 1em .25em 1em;
}

.mdl-datepicker .mdl-datepicker-header-day-month {
  margin: 8px 0;
}

.mdl-datepicker .mdl-dialog__content {
  padding: 8px 8px 0 8px;
}

.mdl-datepicker .mdl-datepicker-month-navigation-buttons {
  position: relative;
}

.mdl-datepicker .mdl-datepicker-month-navigation-buttons .mdl-datepicker-prev-month {
  position: absolute;
}

.mdl-datepicker .mdl-datepicker-month-navigation-buttons .mdl-datepicker-next-month {
  position: absolute;
  right: 0;
}

.mdl-datepicker .mdl-datepicker-month {
  min-height: 21.5em;
}

.mdl-datepicker .mdl-datepicker-month .mdl-datepicker-month-title {
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}

.mdl-datepicker .mdl-datepicker-month .mdl-datepicker-weekdays {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.mdl-datepicker .mdl-datepicker-month .mdl-datepicker-weekdays .mdl-datepicker-weekday {
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.mdl-datepicker .mdl-datepicker-month .day {
  border-radius: 50%;
  margin: auto;
  padding: 0;
  overflow: hidden;
  position: relative;
  line-height: normal;
  height: 40px;
  min-width: 40px;
  width: 40px;
}

.mdl-datepicker .mdl-datepicker-month .day .mdl-ripple {
  background: #fff;
}

.mdl-datepicker .mdl-datepicker-month .actual {
  background-color: #009762;
  color: #fff;
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
}
/*# sourceMappingURL=datepicker.css.map */

ai-datepicker {
  width:100%;
}

.icon-label {
  position:relative; left:170px; top: 10px;
}

#dtpicker-container {
  width:155px;
  margin-right: 150px;
}