<div class="mdl-grid mdl-cell--col-12" >
   <div id="dtpicker-container" class="mdl-cell--col-6">
      <div  class="mdl-textfield mdl-js-textfield mdl-textfield--align-right">
         <label class="mdl-button--icon icon-label" for="" >
         <i [id]="guid" (click)="getSelectedDate($event)" class="mdl-icon-toggle__label material-icons " >date_range</i>
         </label>
         <div class="mdl-cell--col">
            <input class="mdl-textfield__input " type="text" [id]="guid" value="{{ selectedDate?.format('LL') }}"  />
            <label class="mdl-textfield__label" for="date-input">{{ placeholder }}</label>
         </div>
      </div>
   </div>
</div>